.card{
    color: rgb(15, 10, 10);
    width: 500px;
    height:200px;
    background-color: rgb(255, 255, 255);
    margin-left:20px;
    border-radius: 10px;
    margin-top:50px;
    box-shadow: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;    
}


button{
    background-color: rgb(171, 96, 243);
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
